body .ui-fileupload .ui-fileupload-buttonbar {
	background: transparent none;
	border: none;
	padding: 0;
}

body .ui-fileupload .ui-fileupload-content {
	border: none;
	padding: 0;
}

body .ui-fileupload-files {
	display: none;
}

body .ui-dialog .ui-dialog-content {
	padding: 0;
}